html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #134176;
}

/* Typography */

h1 {
  margin: 0.5rem;
  text-decoration: underline;
}
p {
  padding-bottom: 0.5rem;
  margin: 0;
}

/* ******Header**** */

header {
  margin: 0;
  background-color: #076587;
  text-align: center;
}

/* ******Form****** */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  max-width: 700px;
  margin: 50px auto;
}
input {
  width: 100%;
  padding: 20px;
}

.numbers {
  display: flex;
  width: 100%;
}

input.number {
  margin: 0 1rem;
  margin-bottom: 1rem;
  text-align: center;
  outline: 0;
  border-radius: 10px;
  border: 10px solid #0c8e7f;
  position: relative;
  top: 10px;
  font-size: 40px;
}
.errorbtn {
  margin: 0 1rem;
  margin-bottom: 1rem;
  text-align: center;
  outline: 0;
  border-radius: 10px;
  border: 10px solid red;
  position: relative;
  top: 10px;
  font-size: 40px;
}
.btn {
  align-items: center;
  border-radius: 10px;
  border: 10px solid#0c8e7f;
  margin-top: 1rem;
  width: 50%;
}
select {
}
.select-container {
  margin-top: 1rem;
  padding: 0.25rem;
  border: 10px solid #0c8e7f;
  background-color: white;
  border-radius: 5px;
  margin: 0.5rem;
}
/* ******Output****** */
.output-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.output {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.outputItem {
  background-color: white;
  padding-left: 0.25em;
  list-style: none;
  margin: 0.25rem;
  align-items: center;
  width: 25%;
  border-radius: 10px;
  border: 5px solid #0c8e7f;
}
